:root {
  --bg-color: #001529;
  --shadow: 
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-row{
  row-gap: 25px;
}
#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider-children {
  height: 100vh !important;
}

.card-animate {
  transition: all 1.2s ease-in-out !important;
  background-color: #0070f3 !important;
}

.ant-list-items {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.ant-list-item {
  cursor: pointer !important;
  margin: 2px;
  transition: all 0.1s ease-in-out;
  -webkit-box-shadow: 6px 6px 24px -15px rgba(89, 87, 89, 0.73);
  -moz-box-shadow: 6px 6px 24px -15px rgba(89, 87, 89, 0.73);
  box-shadow: 6px 6px 24px -15px rgba(89, 87, 89, 0.73);
  padding: 14px !important;
}

.ant-list-item:hover {
  /* border: 1px var(--bg-color) solid;
  border-bottom: 1px var(--bg-color) solid !important; */
  /* border-radius: 3px; */
  transform: translate(0, -5px);
}
